@charset "UTF-8";

.bolt-body {
  font-family: Lato;
}

.inner {
  margin: 0 auto;
  max-width: 97%;
  width: 1100px;
}

.header {
  background-color: #fff;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.header-inner {
  padding: 15px 0;
}

.bolt-icon {
  color: #4e4e4e;
  font-size: 42px;
}

.header-icon {
  background-color: #74cfae;
  color: #fff;
  float: right;
  font-size: 12px;
  padding: 14px 12px;
  text-decoration: none;
  transition: 0.3s;
}

.icon:hover {
  color: #333;
}

.title {
  font-family: Raleway;
}

.header-icon-sp {
  display: none;
}

/*Bolt Theme*/

.bolt-main {
  padding-top: 72px;
}

.main-title {
  background-color: #f2f2f2;
}

.title-inner {
  text-align: center;
  padding: 250px 0;
}

.title-title {
  color: #74cfae;
  font-weight: 700;
  font-size: 90px;
}

.title-content {
  color: #c0c0c0;
  font-size: 30px;
  margin-top: 20px;
}

/*WHAT WE CAN DO*/
.introduction {
  background-color: #74cfae;
  text-align: center;
}

.introduction-inner {
  color: #fff;
  display: flex;
  padding-top: 50px;
}

.introduction-text {
  text-align: center;
  width: 60%;
}

.introduction-title {
  font-size: 24px;
}

.introduction-content {
  font-size: 20px;
  margin: 35px auto 0 auto;
  word-break: keep-all;
}

.introduction-image {
  width: 40%;
}

.introduction-img {
  vertical-align: bottom;
}

/*OUR LATEST WORK*/
.collection {
  background-color: #f2f2f2;
}

.collection-inner {
  padding: 60px 0 70px 0;
  text-align: center;
}

.collection-title {
  font-size: 24px;
}

.collection-image-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.collection-image-atag {
  display: inline-block;
}

.collection-image {
  opacity: 0.7;
  transition: 0.3s;
  margin-left: 100px;
}

.collection-image:hover {
  opacity: 1;
}

.collection-img {
  vertical-align: top;
}

.collection-flex {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.collection-flex-content {
  font-size: 20px;
  width: 53%;
}

.collection-flex-icon {
  font-size: 12px;
  text-align: center;
  margin-left: 90px;
}

.collection-icon {
  background-color: #74cfae;
  color: #fff;
  display: inline-block;
  padding: 14px 20px;
  text-decoration: none;
  transition: 0.3s;
}

.collection-image:nth-child(n+4) {
  margin-top: 80px;
}

.collection-image:nth-child(3n+1){
  margin-left: 0;
}

/*OUR SKILLS*/
.skills_section {
  background-color:	#4e4e4e;
}

.skills_section-inner {
  padding: 70px 0 100px 0;
  text-align: center;
}

.skills_section-title {
  color: #fff;
  font-size: 24px;
}

.skills_section-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 70px;
}

.skills_section-image {
  color: #fff;
  font-size: 16px;
  margin-left: 180px;
}

.skills_section-image:first-child {
  margin-left: 0;
}

/*SNS*/
.nav {
  background-color: #f2f2f2;
}

.nav-inner {
  text-align: center;
  padding: 200px 0;
}

.nav-list {
  display: flex;
  justify-content: center;
}

.nav-icon {
  color: #74cfae;
  font-size: 60px;
  padding: 20px 0;
  text-decoration: none;
  transition: 0.3s;
  width: 185px;
}

.nav-icon:hover {
  background-color: #fff;
}

/*footer*/
.footer {
  background-color: #74cfae;
}

.footer-inner {
  color: #fff;
  padding: 20px 0 25px 0;
  text-align: right;
}

@media screen and (max-width:767px) { /*SP*/
  .header-icon-sp { /*header*/
    display: block;
  }

  .inner {
    max-width: 97%;
  }

  .sp-none {
    display: none;
  }

  .header-icon-sp {
    border: 1px solid #ddd;
    border-radius: 4px;
    float: right;
    height: 14px;
    padding: 10px;
    position: relative;
    width: 24px;
  }

  .menu-icon {
    border: 1px solid #ddd;
    box-sizing: border-box;
    position: absolute;
    width: 24px;
  }

  .menu-icon:nth-child(1) {
    top: 10px;
  }

  .menu-icon:nth-child(2) {
    top: 16px;
  }

  .menu-icon:nth-child(3) {
    bottom: 10px;
  }

  .title-title { /*Bolt Theme*/
    font-size: 80px;
  }

  .title-inner {
    padding: 160px 0 130px 0;
  }

  .nav-inner { /*SNS*/
    padding: 50px 0;
  }

  .nav-list {
    flex-flow: column;
  }

  .nav-icon {
    width: 100%;
  }
}

@media screen and (max-width:1199px) { /*SP*/ /*TAB*/
  .introduction-inner { /*WHAT WE CAN DO*/
    align-items: center;
    flex-flow: column;
    padding: 50px 0 25px 0;
  }

  .introduction-text {
    width: 96%;
  }

  .introduction-image {
    width: 100%;
  }

  .introduction-text {
    margin-top: 20px;
  }

  .collection-image { /*OUR LATEST WORK*/
    margin-left: 0;
  }

  .collection-image-list {
    flex-flow: column;
    display: inline-block;
  }

  .collection-image:nth-of-type(4n) {
    margin-top: 80px;
  }

  .collection-flex {
    align-items: center;
    flex-flow: column;
    margin-top: 80px;
  }

  .collection-flex-icon {
    margin-top: 40px;
    margin-left: 0;
  }

  .collection-flex-content {
    width: 100%;
  }

  .collection-image:nth-child(n+4) {
    margin-top: 0px;
  }

  .collection-image:nth-child(3n+1){
    margin-top: 80px;
  }

  .collection-image:first-child {
    margin-top: 0;
  }

  .skills_section-list { /*OUR SKILLS*/
    align-items: center;
    flex-flow: column;
  }

  .skills_section-image {
    margin-left: 0;
  }

  .skills_section-image:nth-child(n+2) {
    margin-top: 88px;
  }
}